script(src="/javascripts/jquery.min.js")
script(src="/javascripts/jquery.plugin.min.js")
script(src="/javascripts/bootstrap.min.js")
script(src="/javascripts/jquery.flexslider-min.js")
script(src="/javascripts/smooth-scroll.min.js")
script(src="/javascripts/skrollr.min.js")
script(src="/javascripts/spectragram.min.js")
script(src="/javascripts/scrollReveal.min.js")
script(src="/javascripts/isotope.min.js")
script(src="/javascripts/twitterFetcher_v10_min.js")
script(src="/javascripts/lightbox.min.js")
script(src="/javascripts/redactor.js")
script(src="/javascripts/fontsize.js")
script(src="/javascripts/fontcolor.js")
script(src="/javascripts/fontfamily.js")
script(src="/javascripts/pt_br.js")
script(src="/javascripts/dropzone.js")
script(src="/javascripts/jquery.countdown.min.js")
script(src="/javascripts/scripts.js")