extends partials/layout

block content
    div.loader
        div.spinner
            div.double-bounce1
            div.double-bounce2

    include pageelements/loginheader
    
    div.main-container
        section.no-pad.login-page.fullscreen-element
            div.background-image-holder
                img.background-image(src="images/hero4.jpg", alt="Fundo Login")

            div.container.align-vertical
                div.row
                    div.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.text-center
                        h1.text-white Registro Bonsaits
                        if(message.length > 0)
                            h3.text-white #{message}
                        div.photo-form-wrapper.clearfix
                            a.btn.btn-primary.btn-filled(href="/auth/facebook", style="background-color:#6dbcdb;border:none;") <i class="icon social_facebook"></i> Registro Facebook 