div.modal.fade#termos(tabindex="-1", role="dialog", aria-labelledby="TermosDeUso", aria-hidden="true")
    div.modal-dialog.modal-lg
        div.modal-content
            div.modal-header
                button.close(type="button", data-dismiss="modal")
                    span(aria-hidden="true")&times;
                h2.modal-title#TermosDeUso Termos de Uso
            div.modal-body

                p O Igluonline.com apresenta aqui os <b>Termos de Uso</b> no site www.igluonline.com que deve ser respeitado pelos seus internautas, usuários e clientes, sob pena de todas as implicações da legislação em vigor. Ao aceitar os termos descritos a seguir, você estará concordando com todas as condições e cláusulas aqui dispostas.
                p Este WebSite é destinado à comercialização de serviços de criação de websites, portais, lojas virtuais, divulgação de websites, integração entre serviços de terceiros e consultoria.

                h3 Conduta
                br
                h5 Produtos e Serviços
                p As informações detalhadas dos serviços oferecidos por igluonline.com, bem como o modelo de produção do serviço, prazos de entrega e preços estão descritas no próprio website e também nestes termos. Antes de contratar qualquer serviço, é recomendado a leitura.
                p <b>Orçamento final:</b> Entendemos como "Orçamento final" o documento acordado ao final das negociações realizadas por email e/ou telefone e/ou pessoalmente enviado pelo email e/ou impresso que contenha as informações sobre o serviço a ser realizado, bem como os valores, métodos de pagemento, prazos e cláusulas contratuais.
                p Ao se firmar um compromisso e concordar com o orçamento final, o cliente e a Igluonline estão comprometidos, respectivamente, a pagar pelo serviço e o executar.

                h5 Orçamento
                p O sistema automático de orçamentos segue como orientação para o orçamento final acordado entre a Igluonline.com e o cliente, mas pode não representar o orçamento final após o contato direto entre as partes.
                h5 Uso e disponibilidade deste website
                p Uma vez que a disponibilidade 100% do tempo de qualquer website não é possível, o Igluonline.com poderá ser inacessível por um breve período de tempo. Contudo, nos responsabilizamos a diminuir este tempo com ações preventivas e resolver quaisquer problemas no tempo mais rápido possível. O uso do website está restrito às funcionalidades disponíveis e não é autorizado a cópia de conteúdo, código-fonte ou imagens presentes.

                h5 Pagamento
                p O pagamento será referente ao valor estabelecido no último orçamento

                h3 Serviços
                br
                h5 WebSites
                p A Igluonline.com se responsabiliza pela entrega de seus serviços no prazo acordado no orçamento final entre as partes. Caso haja um problema e o websites não for entregue, garantimos o envio de cupons de desconto e faremos o possível para finalizar o mais rápido possível.
                p A Igluonline.com oferece até 5 modificações considerada pela mesma pequenas após a entrega do serviço. Para cada outra revisão, será cobrada uma taxa de R$ 100,00 (cem reais) por hora de trabalho.
                p A Igluonline.com não se responsabiliza pelos conteúdos - texto, imagens, audio, vídeo, etc - expostos nos websites desenvolvidos.

                h5 Serviços de terceiros
                p A Igluonline.com se responsabiliza pela integração dos serviços acordados no orçamento final juntamente com seus clientes no ato da entrega. Contudo, o uso indevido desses serviços e a desconfiguração decorrente desse uso indevido não se qualifica como responsabilidade da Igluonline.com.

                h5 Consultoria
                p A Igluonline.com apresentará soluções para os problemas enfrentados pelos clientes e também mostrará os melhores caminhos para atingir os objetivos no ambiente digital desses.

                h5 Hospedagem
                p A Igluonline.com hospedará os websites de seus clientes que optarem pelos planos "Quer contratar" e "Sem preocupação" utilizando serviços de outras empresas, como a DigitalOcean, Windows Azure, AWS, GoDaddy ou BlueHost. A decisão de qual será depende do tipo de site e será determinada no orçamento final após conversa com o cliente.
                p Para os clientes que optarem pelo plano "Sem preocupação", será enviado um boleto com frequência e valor determinados no orçamento final para que a Igluonline.com administre e pague pelo serviço. O não pagamento deste boleto um aviso e, após mais uma semana sem pagar, poderá acarretar no desligamento do serviço. O cliente, então, receberá o código do website comprado e receberá a cobrança de uma multa no valor de R$ 200,00 (duzentos reais) se não quitar as dívidas até mais uma semana após este processo.
                p <b>Desligamento e/ou transferência: </b> Para os clientes do plano "Sem preocupação" que queiram o desligamento do plano e/ou transferência do website para uma hospedagem decidida pelos mesmos, a Igluonline.com exige um aviso por email ou telefone anteriormente ao vencimento da hospedagem do último boleto pago. Caso isso não ocorra, o cliente deverá arcar com o pagamento do próximo boleto ou pagar uma multa no valor de R$ 200,00 (duzentos reais).
                    
                h3 Garantia
                p Garantimos as funcionalidades dos serviços acordados no orçamento final através do uso do website da forma instruída por nossa equipe por até 6 meses após a conclusão do serviço. Qualquer problema decorrente do uso indevido do website não será considerado como de responsabilidade da Igluonline.com.
                p Para os serviços de hospedagem contratados pela Igluonline.com com o objetivo de disponibilizar a seus clientes, a Igluonline.com não se responsabiliza por qualquer problema ou disponibilidade do website online. Contudo, garantimos a busca por soluções que não sejam de responsabilidade de nossa programação juntamente com as empresas contratadas.
                p Qualquer serviço oferecido por terceiros e integrado com os websites criados pela Igluonline.com não são de responsabilidade da mesma.
                p No caso do treinamento e consultoria digital, não nos responsabilizamos pelos resultados obtidos através de nossas recomendações.
                p Caso o cliente queira terminar o projeto no meio de sua execução, será cobrada uma taxa de cancelamento do contrato, que corresponde a 20% do valor a ser ainda pago. O cliente receberá o que já foi realizado até então pela Igluonline, mas não terá nenhuma responsabilidade sobre o serviço incompleto.

            div.modal-footer
                button.btn.btn-primary.btn-filled(type="button", data-dismiss="modal") Fechar

div.footer-container
    footer.short.bg-secondary-1
        div.container
            div.row
                div.col-sm-10
                    span.sub © Copright 2016 Igluonline
                    ul
                        li 
                            a(href="#", data-toggle="modal", data-target="#termos") Termos de Uso
                        li
                            a(href="/blog") Blog

                div.col-sm-2.text-right
                    ul.social-icons
                        li
                            a(href="https://www.twitter.com/onlineiglu")
                                i.icon.social_twitter
                        li
                            a(href="https://www.facebook.com/igluonline")
                                i.icon.social_facebook
