div.nav-container
    nav.top-bar
        div.container
            div.row.utility-menu
                div.col-sm-12
                    div.utility-inner.clearfix
                        span.alt-font
                            i.icon.icon_mail 
                            | &nbsp;andre@igluonline.com

                        div.pull-right
                            if (!locals.user)
                                a.btn.btn-primary.login-button.btn-xs(href="/entrar") entrar
                                a.btn.btn-primary.btn-filled.btn-xs(href="/registrar") registrar
                            else
                                a.btn.btn-primary.login-button.btn-xs(href="/painel") painel
                                a.btn.btn-primary.btn-filled.btn-xs(href="/logout") sair

            div.row.nav-menu
                div.col-sm-3.columns.col-md-3
                    a(href="/")
                        img.logo.logo-dark(src="/images/logo.png", style="max-width:150px;bottom:27px;")

                div.col-md-9.col-sm-9.columns
                    ul.menu
                        li
                            a.inner-link(href="#sobre", target="default") Sobre
                        li
                            a.inner-link(href="#portfolio", target="default") Portfólio
                        li
                            a.inner-link(href="#orcamento", target="default") Orçamento
                        li
                            a.inner-link(href="#contato", target="default") Contato

                        li
                            a.inner-link(href="#faq", target="default") Perguntas
                        li
                            a.inner-link(href="https://www.igluonline.com", target="_blank") Blog

                    ul.social-icons.text-right
                        li
                            a(href="https://www.twitter.com/onlineiglu"): i.icon.social_twitter
                        li
                            a(href="https://www.facebook.com/igluonline"): i.icon.social_facebook

            div.mobile-toggle
                i.icon.icon_menu
