div.nav-container
    nav.top-bar.overlay-bar
        div.container
            div.row.utility-menu
                div.col-sm-12
                    div.utility-inner.clearfix
                        span.alt-font
                            i.icon.icon_pin 
                            | belo horizonte, MG - Brasil&nbsp;&nbsp;&nbsp;
                        span.alt-font
                            i.icon.icon_mail 
                            | &nbsp;contato@bonsaits.com

                        div.pull-right
                            if (!locals.user)
                                a.btn.btn-primary.login-button.btn-xs(href="/entrar") entrar
                                a.btn.btn-primary.btn-filled.btn-xs(href="/registrar") registrar
                            else
                                a.btn.btn-primary.login-button.btn-xs(href="/painel") painel
                                a.btn.btn-primary.btn-filled.btn-xs(href="/logout") sair
                            a.language(href="#"): img(src="/images/english.png", alt="English")

            div.row.nav-menu
                div.col-sm-3.columns.col-md-3
                    a(href="/")
                        img.logo.logo-light(src="/images/logo_white.png", style="max-width:200px;bottom:27px;")

                div.col-md-9.col-sm-9.columns


            div.mobile-toggle
                i.icon.icon_menu
